{% extends 'base.html' %}

{% block title%}books{% endblock %}
{% block content %}
{% include 'books/navbar.html' %}
<div class="container" style="height:95%;width:75%;margin:0 auto">


{% include 'books/searchfunction.html' %}

<div class="container mt-2">
    <div class="col-md-6">
<a href="{% url 'books:our_books' %}" ><h4>Books</h4></a>
<a href="{% url 'books:authors' %}" ><h4>Authors</h4></a>
<a href="{% url 'books:publishers' %}" ><h4>Publishers</h4></a>
    </div>
</div>
</div>
{% endblock %}
