{% extends 'blog/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}




<div class="container" style="height:auto;overflow:auto;min-height:100%;display:flex;flex-direction:column;flex-wrap:wrap;">



    {% if articles %}


{% for article in articles %}

<div class="container" style="padding-top:5rem;height:auto;overflow:auto">

    <div class="card mb-2 col-md-7" style="overflow:auto" >
        <div class="col-12">
            {% if article.image %}
        <div class="col-md-6">

        <h2 class="card-title h4"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>

        <a href="{{ article.image.url }}" target="_blank"><img class="card-img-top" src="{{ article.image.url }}" width="200px" style="float:left"  height="350px" alt="supporting image" /></a>
<div class="small text-muted m-2">{{ article.created }}</div>
        </div>

            {% else %}

            <div class="col-md-8 px-1 py-4">
                <h2 class="card-title mx-5"><center><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></center></h2>
            {% endif %}

              <p class="mb-1 mt-1 mx-4" >{{ article.content }}</p>


            </div>
         </div>


    </div>
</div>
</div>
{% endfor %}
{% else %}


<div class="mt-2 alert alert-primary alert-dismissible fade show" role="alert">
<h3>Your audience is waiting for your content,add your first article.. </h3>
</div>


 {% endif %}



<div class="row mx-5 my-5">
    <a href="{% url 'blog:article-create' %}" class="pb-3 btn btn-primary" >Add article</a>
</div>


{% endblock %}





